
        </div>
    </body>
    <script>
        // $.ajax({
        //     url: "/server_status",
        //     async: true,
        //     type: "GET",
        //     success: function (data) {
        //         if (data.result) {
        //             data.data.map((ping) => {
        //                 if (ping.withDB + ping.withoutDB > 200) {
        //                     $(`#${ping.name}`).addClass("red");
        //                 } else if (ping.withDB + ping.withoutDB > 100) {
        //                     $(`#${ping.name}`).addClass("yellow");
        //                 } else {
        //                     $(`#${ping.name}`).addClass("green");
        //                 }
        //             });
        //             $(`#cbt2user`).text("CBT2 Registed : "+data.cbt2User);
        //         }
        //     },
        // });
    </script>
</html>
