<%-include('header.ejs')%>

<div class = main-page>
    <div class = main-wrap> 
        <img src = '/img/img_login_top.png'>
        <button class = chatroom-enter onclick="enterChat()">채팅방 입장</div>
    </div>
</div>

<script>

function enterChat(){
    window.location.href = '/chat';
}

</script>

<%-include('footer.ejs')%>
