.open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.nickname-popup {
    display: none;
}
.nickname-popup.open {
    /* "open" 클래스가 추가되면 팝업 보이게, popup.open을 공백없이 붙여서 해야 하위 선택이 아니라 클래스 동시 다중 선택임 */
    display: flex;
    color: rgb(142, 51, 83);
    font-size: x-large;
    font-weight: bold;
    flex-direction: column;
    background-color: lightpink;
}
#nickname {
    margin-top: 10px;
    width: 30%;
    height: 30px;
    margin-bottom: 10px;
}
#popupBtn {
    width: 30%;
    height: 25px;
}
.chat-page {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.chat-page .top-chatbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 80%;
    height: 60%;
}
.chat-page .top-chatbox .room-display-box {
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    justify-content: flex-start;
    align-items: flex-start;
    border-top-left-radius: 20px;
    width: 20%;
    height: 100%;
}
.chat-page .top-chatbox .room-display-box div {
    display: flex;
    color: black;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    min-width: 85%;
    align-self: center;
    padding: 10px;
    margin-bottom: 5px;
    height: 5%;
}
.chat-page .top-chatbox .room-display-box .room-list {
    background-color: transparent;
    align-self: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}
.chat-page .top-chatbox .chat-display-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-top-right-radius: 20px;
    width: 80%;
    height: 100%;
}
.chat-page .top-chatbox .toolbar {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-start;
    background-color: rgb(142, 51, 83);
    border-top-right-radius: 20px;
    width: 100%;
    height: 7%;
}
.chat-page .top-chatbox .toolbar .current-room {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    padding-left: 10px;
}
.chat-page .top-chatbox .toolbar .leave-button {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 20px;

    cursor: pointer;
    transition: transform 0.3s;
}

.chat-page .top-chatbox .toolbar .leave-button:hover {
    transform: scale(1.02);
}

.chat-page .top-chatbox .toolbar .leave-button:active {
    transform: scale(0.99);
}

.chat-page .top-chatbox .chat-display-box .chat-space {
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 222);
    border: none;
    width: 100%;
    height: 93%;
}
.chat-page .top-chatbox .chat-display-box .chat-space img {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
}
.chat-page .top-chatbox .chat-display-box .chat-space div {
    display: flex;
    background-color: white;
    width: 100%;
    height: 5%;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 5px;
}
.chat-page .top-chatbox .chat-display-box .chat-space .myMessage {
    display: flex;
    background-color: palegoldenrod;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.chat-page .top-chatbox .chat-display-box .chat-space .otherMessage {
    display: flex;
    color: white;
    background-color: rgb(81, 81, 81);
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.chat-page .bottom-chatbox {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80%;
    height: 10%;
}
.chat-page .bottom-chatbox .room-input-box {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: rgb(142, 51, 83);
    border-bottom-left-radius: 20px;
}
.chat-page .bottom-chatbox .room-input-box .room-label {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.chat-page .bottom-chatbox .room-input-box .room-input {
    display: flex;
    background-color: white;
    border: none;
    width: 100%;
    height: 40%;
    padding-left: 10px;
}
.chat-page .bottom-chatbox .room-input-box .join-room {
    display: flex;
    border: none;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: rgb(142, 51, 83);

    cursor: pointer;
    transition: transform 0.3s;
    border-bottom-left-radius: 20px;
}
.chat-page .bottom-chatbox .room-input-box .join-room:hover {
    transform: scale(1.02);
}

.chat-page .bottom-chatbox .room-input-box .join-room:active {
    transform: scale(0.99);
}
.chat-page .bottom-chatbox .chat-input-box {
    display: flex;
    width: 80%;
    height: 100%;
    border-bottom-right-radius: 20px;
}
.chat-page .bottom-chatbox .chat-input-box .add-file {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/plus.png');
    background-color: rgb(84, 29, 49);
    width: 10%;
    height: 100%;
    border: none;

    cursor: pointer;
    transition: transform 0.3s;
}
.chat-page .bottom-chatbox .chat-input-box .add-file:hover {
    transform: scale(1.02);
}
.chat-page .bottom-chatbox .chat-input-box .add-file:active {
    transform: scale(0.99);
}

.chat-page .bottom-chatbox .chat-input-box .add-file .file-label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: transform 0.3s;
}
.chat-page .bottom-chatbox .chat-input-box .add-file .file-label img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;

    cursor: pointer;
    transition: transform 0.3s;
}
.chat-page .bottom-chatbox .chat-input-box .add-file .file-input {
    display: none;
}
.chat-page .bottom-chatbox .chat-input-box .chat-input {
    display: flex;
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-bottom-right-radius: 20px;
}
.chat-page .bottom-chatbox .chat-input-box .chat-send-btn {
    display: none;
}
